.Card {
    text-align: center;
    align-items: center !important;
    width: 208px;
    height: 386px;
    border: 1px solid #E2E2E2;
    border-radius: 8px;
    opacity: 1;
    margin: 1px !important;

}

.title {
    /* font-weight: Poppins; */
    font-weight: 500;
    font-size: 13px;
}

.brand {
    color: #772CE8;
    font-weight: 600;
    font-size: 14px;
}

.price {
    color: #772CE8;
    font-weight: bold;
    font-size: 14px;
}

.mybutton {
    background-color: #772CE8 !important;
    font-size: 13px !important;
    color: white;
    border-radius: 31px !important;
   /* font-weight: 600; */
   width: 166px !important;
    height: 28px !important;
    opacity: 1 !important;
    text-decoration:none !important;
    bottom: 0 !important;

}

.img {
    border: 1px solid #772CE8;
    border-radius: 1px;
    padding: 10px;
    width: 15rem;
    
  }