.mySwiper {
    height: 120px;
}

.mySwiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  
 .mySwiper .imgIcon {
    display: flex;
    justify-content: center;
  }

  .mySwiper .swiper-pagination {
    bottom: -6px;
  }
  
  .mySwiper .swiper-pagination-bullet {  
    width: 10px;
    height: 10px;
    line-height: 10px;
    opacity: 1;
    background: #fff;
    border: 3px solid #8a939a;
    margin-top: 20px;
  }
  
  .mySwiper .swiper-pagination-bullet-active {
    background: #fff;
    border: 3px solid #742be2;
  }